/* .cont{
    
    height: 970px;
    width: 740px;
    background-color: white;
    border-radius: 10px;

    border: 2px solid black;
} */

.nev{
    height: 75px;
    width: 700px;
    background-color: red;
    border-radius: 10px;
    margin: 20px;
    padding-left: 1px;
    border: 2px solid black;
    top: 0px;
    position: fixed;    
    
}

.logo{
    
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50px;
    margin: 5px;
    border: 2px solid white;
    display: inline-block ;
    margin-right: 30px;
}

.box{
    height: 40px;
    width: 50px;
    background-color: black ;
    border-radius: 30px;
    margin: 5px;
    display: inline-block;
    margin-bottom: 15px;
    border: 2px solid white;
    
}

.search{
    height: 30px;
    width: 300px;
    background-color: black ;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    margin-bottom: 20px;
    border: 2px solid white;
    margin-left: 20px;
}

.submit{
    height: 30px;
    width: 50px;
    background-color: black ;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    margin-bottom: 20px;
    border: 2px solid white;
}

.nb{
    height: 100px;
    width: 100px;
    background-color: black ;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 20px;
    border: 2px solid white;
    margin-left: 18px;   
}